@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: black;
    overflow-x: hidden;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

nav>div>h1 {
    font-family: "Inter", sans-serif;
    font-size: 2em;
    font-style: italic;
    color: orangered;
    font-weight: 800;
}

#nav-list {
    display: flex;
    border: 1px solid gray;
    padding: 9px 9px 9px 1px;
    border-radius: 50px;
}

nav>div>li {
    list-style: none;
    display: flex;
    margin-right: 10px;
}

nav>div>li>a {
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    color: aliceblue;
    font-size: 0.8em;
}

#span-home {
    background-color: orangered;
    padding: 8px;
    border-radius: 50px;
}

#menu-icon {
    display: none;
}

@media (max-width: 576px) {
    #menu-icon {
        display: block;
        font-size: 1.5em;
        cursor: pointer
    }

    #nav-list {
        display: none;
    }

    nav {
        display: flex;
        justify-content: space-between;
        padding: 22px 46px;
    }

    nav>div>h1 {
        font-size: 1.8em;
        font-weight: 700;
    }

}